.bodyCaresShirt {
    height: 750px;
    display: flex;
}

.buyCaresShirt {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 200px;
    font-family: "Qwitcher Grypen", cursive;
    color: black;
    font-size: 150px;
   
  }

.buyPug {
    height: 600px;
    margin-top: 70px;
    margin-left: 100px;
}

h4 {
    color: black;
    /* justify-content: center;
    align-items: center; */
    margin-top: 300px;
    font-size: 30px;
    margin-left: 50px;
}