.shirtsContainer {
    /* background-image: url("aboutBackground.jpg"); */
    /* height: 300px; */
}

.shirtDisplay {
    /* justify-content: space-between; */
    /* width: 100%; */
    height: 400px;
    display: flex;
}


.onSaleTShirt {
    max-height: 400px;
    max-width: 100%;
    /* max-width: 100%; */
    
    margin-left: auto;
    margin-right: auto;   
}


.cares {
    max-height: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;   
    /* display: block; */
 
}

.pug {
    max-height: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;   
}