@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap");

.shirtDisplay {
  justify-content: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  display: flex;

}

.tshirtHeader {
  display: flex;
  font-size: 100px;
  font-weight: 700;
  margin-top: 0;
  color: black;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
}

.shirtCat {
  max-height: 400px;
  min-width: auto;
  /* max-width: 100%; */

  margin-left: 100px;
  margin-right: auto; 
  margin-bottom: 0px;
}

.cares {
  max-height: 400px;
  max-width: 100%;
  margin-left: 260px;
  margin-right: auto;
 
  
}

.pug {
  max-height: 400px;
  min-width: none;
  margin-left: 160px;
  margin-right: 100px;
}

h3 {
  font-size: 90px;
  font-family: "Qwitcher Grypen", cursive;
  color: black;
}

.catShirt {
  margin-left: 160px;
  font-family: "Qwitcher Grypen", cursive;
  color: black;
  margin-top: 0px;
}

.caresShirt {
    margin-left: 180px;
    font-family: "Qwitcher Grypen", cursive;
    color: black;
    margin-top: 0px;
  }

.pugShirt {
    margin-left: 180px;
    font-family: "Qwitcher Grypen", cursive;
    color: black;
    margin-top: 0px;
    margin-left: 250px;
  }

